<p id="notice"><%= notice %></p>

<h1>Recepies</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @recepies.each do |recepy| %>
      <tr>
        <td><%= recepy.Title %></td>
        <td><%= recepy.Description %></td>
        <td><%= link_to 'Show', recepy %></td>
        <td><%= link_to 'Edit', edit_recepy_path(recepy) %></td>
        <td><%= link_to 'Destroy', recepy, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Recepy', new_recepy_path %>
